<div id="canvas" #canvas class="canvas mt-2 position-relative border" #canvasContainer>
  <app-machine
    *ngFor="let machine of machines"
    [container]="canvas"
    [machine]="machine"
    [isSelected]="isMachineSelected(machine.id)"
    [selectedRecipe]="selectedRecipe"
    (selectMachineEvent)="sendMachineSelected($event)"
    (inputConnectionEvent)="sendInputConnection($event)"
    (outputConnectionEvent)="sendOutputConnection($event)"
    (movingElementEvent)="sendMovingElement($event)"
  ></app-machine>
</div>
