<app-connection-line
  *ngFor="let connection of connections"
  [connection]="connection"
></app-connection-line>
<header>
  <nav class="navbar bg-body-secondary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Navbar</span>
    </div>
  </nav>
</header>
<div class="container-fluid">
  <main class="row">
    <div class="col-3 p-1 sidebar">
      <app-sidebar
        [machineProperties]="machineSelected"
        (newMachineEvent)="addNewMachine($event)"
        (newConnectorEvent)="addNewConnector($event)"
        (sendRecipeEvent)="getSelectedRecipe($event)"
      ></app-sidebar>
    </div>
    <div class="col-9 bg-body-tertiary" #canvasContainer>
      <app-canvas
        [machines]="machines"
        [selectedRecipe]="selectedRecipe"
        (sendMachineEvent)="getMachineSelected($event)"
        (deleteMachineEvent)="deleteMachine($event)"
        (sendInputConnectionEvent)="setInputConnection($event)"
        (sendOutputConnectionEvent)="setOutputConnection($event)"
        (sendMovingElementEvent)="setNewElementPosition($event)"
      ></app-canvas>
    </div>
  </main>
</div>
