.recipe-tooltip {
  visibility: hidden;
  text-align: center;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  margin-left: -55px;
}

#machine-container:hover .recipe-tooltip {
  visibility: visible;
}

.connect-back-top {
  position: absolute;
  z-index: 1;
  bottom: 82%;
  left: 0%;
}
